{{ attach_library('comments/global-style') }}
<div class="add-comments">
  <div id="form-system-messages"></div>
  <div class="addcomment-form">
    {{ addcomment }}
  </div>
</div>
<div class="comments-theme">
  {% for w in comments.window %}
    <div class="block-window">
      <div class="block-head">
        <div class="block-author">
          <div class="author-head">
            {% if w.avatar == 'default.png' %}
              <img class="author-avatar" src="modules/custom/comments/images/{{ w.avatar }}" alt="Avatar">
            {% else %}
              <img class="author-avatar" src="sites/default/files/comments/avatars/{{ w.avatar }}" alt="Avatar">
            {% endif %}
          </div>
          <div class="author-contact">
            <div class="contact-head">
              <h3 class="contact-name">{{ w.title }}</h3>
              <div class="contact-inf">
                <p class="contact-emone">{{ w.email }} | {{ w.phone }}</p>
              </div>
            </div>
            <div class="contact-body">
              <p>{{ w.date }}</p>
            </div>
          </div>
          {% if is_admin %}
            <div class="block-panel">
              <div class="edit-btn">
                <a id="edit-btn" href="/admin/comments/edit/{{ w.id }}">Edit</a>
              </div>
              <div class="delete-btn">
                <a id="delete-btn" href="/admin/comments/delete/{{ w.id }}">Delete</a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="block-body">
        {% if w.image %}
          <p class="body-image"><img src="sites/default/files/comments/images/{{ w.image }}" alt=""></p>
        {% endif %}
        <p class="body-content">{{ w.content | raw }}</p>
      </div>
    </div>
  {% endfor %}
</div>
